USE [master]
GO
/****** Object:  Database [DungSaiTool]    Script Date: 08/07/2020 8:34:06 AM ******/
CREATE DATABASE [DungSaiTool]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DungSaiTool', FILENAME = N'E:\Database\DungSaiTool\DungSaiTool.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DungSaiTool_log', FILENAME = N'E:\Database\DungSaiTool\DungSaiTool_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DungSaiTool].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DungSaiTool]
GO
/****** Object:  Table [dbo].[DungSaiNCC]    Script Date: 08/07/2020 8:34:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DungSaiNCC](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaNCC] [varchar](10) NOT NULL,
	[NhomVT] [nvarchar](10) NOT NULL,
	[SubQuery] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DungSaiNCCLog]    Script Date: 08/07/2020 8:34:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DungSaiNCCLog](
	[ID] [int] NOT NULL,
	[MaNCC] [varchar](10) NOT NULL,
	[NhomVT] [nvarchar](10) NOT NULL,
	[SubQuery] [nvarchar](max) NULL,
	[PCName] [varchar](50) NULL,
	[TGCapNhat] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VatTu]    Script Date: 08/07/2020 8:34:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VatTu](
	[NhomVT] [nvarchar](50) NOT NULL,
	[MC] [varchar](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NhomVT] ASC,
	[MC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[DungSaiNCC] ON 

INSERT [dbo].[DungSaiNCC] ([ID], [MaNCC], [NhomVT], [SubQuery]) VALUES (542, N'11000258', N'Bao', N'SELECT CASE WHEN @cl = 0 THEN 0 ELSE CASE WHEN @cl < 0 THEN -1 ELSE 1 END END')
INSERT [dbo].[DungSaiNCC] ([ID], [MaNCC], [NhomVT], [SubQuery]) VALUES (543, N'11000360', N'Bao', N'SELECT CASE WHEN @cl = 0 THEN 0 ELSE CASE WHEN @cl < 0 THEN -1 ELSE 1 END END')
INSERT [dbo].[DungSaiNCC] ([ID], [MaNCC], [NhomVT], [SubQuery]) VALUES (544, N'11000431', N'Bao', N'SELECT CASE WHEN @cl = 0 THEN 0 ELSE CASE WHEN @cl < 0 THEN -1 ELSE 1 END END')
GO
SET IDENTITY_INSERT [dbo].[DungSaiNCC] OFF
INSERT [dbo].[DungSaiNCCLog] ([ID], [MaNCC], [NhomVT], [SubQuery], [PCName], [TGCapNhat]) VALUES (997, N'aaa', N'aaa', N'aa', N'DNI-CNTT-PC019', CAST(N'2020-03-17 11:54:44.170' AS DateTime))
INSERT [dbo].[VatTu] ([NhomVT], [MC]) VALUES (N'Bao', N'B01')
INSERT [dbo].[VatTu] ([NhomVT], [MC]) VALUES (N'Bao', N'B02')
INSERT [dbo].[VatTu] ([NhomVT], [MC]) VALUES (N'Bao', N'B03')
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UIdx_DungSaiNCC]    Script Date: 08/07/2020 8:34:06 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UIdx_DungSaiNCC] ON [dbo].[DungSaiNCC]
(
	[MaNCC] ASC,
	[NhomVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DungSaiNCC]  WITH CHECK ADD  CONSTRAINT [Chk_DungSaiNCC] CHECK  (([MaNCC]<>'' AND [NhomVT]<>''))
GO
ALTER TABLE [dbo].[DungSaiNCC] CHECK CONSTRAINT [Chk_DungSaiNCC]
GO
/****** Object:  StoredProcedure [dbo].[Proc_DeleteDungSai]    Script Date: 08/07/2020 8:34:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_DeleteDungSai]
@id INT
AS
BEGIN
	DELETE FROM dbo.DungSaiNCC WHERE ID = @id
END
GO
/****** Object:  StoredProcedure [dbo].[Proc_GetAllDungSai]    Script Date: 08/07/2020 8:34:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_GetAllDungSai]
AS
BEGIN
	SELECT ID, MaNCC, NhomVT, SubQuery
	FROM dbo.DungSaiNCC
END
GO
/****** Object:  StoredProcedure [dbo].[Proc_GetALLVT]    Script Date: 08/07/2020 8:34:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_GetALLVT]
AS
BEGIN
	SELECT NhomVT, MC FROM dbo.VatTu
END
GO
/****** Object:  StoredProcedure [dbo].[Proc_InsertDungSai]    Script Date: 08/07/2020 8:34:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_InsertDungSai]
@mancc VARCHAR(10), @nhomvt NVARCHAR(10), @subquery NVARCHAR(MAX), @id INT OUT
AS
BEGIN
	INSERT INTO dbo.DungSaiNCC (MaNCC, NhomVT, SubQuery)
	VALUES  (@mancc, @nhomvt, @subquery)

	SELECT @id = ID
	FROM dbo.DungSaiNCC
	WHERE ID = SCOPE_IDENTITY()
END
GO
/****** Object:  StoredProcedure [dbo].[Proc_UpdateDungSai]    Script Date: 08/07/2020 8:34:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_UpdateDungSai]
@id INT, @mancc VARCHAR(10), @nhomvt NVARCHAR(10), @subquery NVARCHAR(MAX)
AS
BEGIN
	UPDATE dbo.DungSaiNCC
	SET MaNCC = @mancc, NhomVT = @nhomvt, SubQuery = @subquery
	WHERE ID = @id
END
GO
USE [master]
GO
